<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AutoITSuite">
		<test name="FileUpload">
		<classes>
			<!-- <class name="autoIT.FileUpload" /> -->
			<!-- <class name="robotClass.DownloadFileUsingKeys" /> -->
			<class name="robotClass.UpoadFileUsingKeys" />
		</classes>
	</test>
</suite> 
